<?xml version="1.0"?>

<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webpos>
            <general>
                <webpos_color>00A679</webpos_color>
                <session_timeout>86400</session_timeout>
                <enable_session>0</enable_session>
            </general>
            <product_search>
                <barcode>sku</barcode>
            </product_search>
            <checkout>
                <add_out_of_stock_product>0</add_out_of_stock_product>
                <need_confirm>0</need_confirm>
                <automatically_send_mail>0</automatically_send_mail>
                <use_custom_prefix>0</use_custom_prefix>
                <custom_prefix>POS</custom_prefix>
            </checkout>
            <guest_checkout>
                <guest_status>1</guest_status>
                <first_name>Guest</first_name>
                <last_name>POS</last_name>
                <email>guest@example.com</email>
            </guest_checkout>
            <shipping>
                <method></method>
                <enable_delivery_date>0</enable_delivery_date>
            </shipping>
            <payment>
                <method>ccforpos</method>
            </payment>
            <tax_configuration>
                <custom_sale_default_tax_class>0</custom_sale_default_tax_class>
                <price_display>
                    <product_list>0</product_list>
                    <shipping>0</shipping>
                </price_display>
                <shopping_cart_display>
                    <price>0</price>
                    <subtotal>0</subtotal>
                    <shipping_amount>0</shipping_amount>
                    <full_tax_summary>0</full_tax_summary>
                    <zero_tax_subtotal>0</zero_tax_subtotal>
                </shopping_cart_display>
                <tax_display>
                    <price>0</price>
                    <subtotal>0</subtotal>
                    <shipping_amount>0</shipping_amount>
                    <full_tax_summary>0</full_tax_summary>
                    <zero_tax_subtotal>0</zero_tax_subtotal>
                </tax_display>
                <fpt>
                    <product_price>0</product_price>
                    <include_in_subtotal>0</include_in_subtotal>
                </fpt>
            </tax_configuration>
            <omnichannel_experience>
                <fulfill_online>0</fulfill_online>
            </omnichannel_experience>
            <session>
                <enable>0</enable>
                <enable_cash_control>0</enable_cash_control>
                <session_since>month</session_since>
            </session>
            <offline>
                <product_time>5</product_time>
                <stock_item_time>5</stock_item_time>
                <customer_time>5</customer_time>
                <order_time>5</order_time>
                <session_time>5</session_time>
                <order_since>7days</order_since>
            </offline>
            <security>
                <sharing_acount>0</sharing_acount>
            </security>
            <custom_receipt>
                <display_reason>0</display_reason>
            </custom_receipt>
        </webpos>
        <carriers>
            <webpos_shipping>
                <active>1</active>
                <model>Magestore\Webpos\Model\Shipping\Method\StorePickup</model>
                <title>POS Shipping</title>
                <name>Pickup-at-store</name>
                <price>0</price>
                <sort_order>10</sort_order>
            </webpos_shipping>
        </carriers>
        <payment>
            <multipaymentforpos>
                <active>1</active>
                <model>Magestore\Payment\Model\Payment\Method\MultiPayment</model>
                <title>POS Split Payments</title>
            </multipaymentforpos>
        </payment>
    </default>
</config>