<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magestore\PosSampleData\Api\Data\PosInterface" type="Magestore\PosSampleData\Model\Pos"/>
    <preference for="Magestore\PosSampleData\Api\PosRepositoryInterface" type="Magestore\PosSampleData\Model\PosRepository"/>

    <preference for="Magestore\PosSampleData\Api\Data\ConfigInterface" type="Magestore\PosSampleData\Model\Config"/>
    <preference for="Magestore\PosSampleData\Api\ConfigRepositoryInterface" type="Magestore\PosSampleData\Model\ConfigRepository"/>

    <preference for="Magestore\PosSampleData\Api\Data\CurrencyRateInterface" type="Magestore\PosSampleData\Model\CurrencyRate"/>
    <preference for="Magestore\PosSampleData\Api\CurrencyRepositoryInterface" type="Magestore\PosSampleData\Model\CurrencyRepository"/>

    <preference for="Magestore\PosSampleData\Api\Data\ProductInterface" type="Magestore\PosSampleData\Model\Product"/>
    <preference for="Magestore\PosSampleData\Api\ProductRepositoryInterface" type="Magestore\PosSampleData\Model\ProductRepository"/>
</config>